html, body {
    height: 100%;
    width: 100%;
    /*color: #456268;*/
    /*background-color: #E3F6F5;*/
    color: #456268;
    background-color: #E3F6F5;
    margin-left: 10px;
  }
  
  table {
    background-color: #FFFFFF;
  }
  
.resumetable {
    border-spacing: 20px;
}

  thead {
    background-color: #BAE8E8;
  }

  #menu {
    background-color: #E3F6F5;
    width: 475px;
  }
  
 #menu td {
    
    height: 25px;
    width: 25%;
    background-color: white;
    border: 2px solid #BAE8E8;
    border-radius: 20px;
}

  #menu td:hover {
    background-color: #F5E3F6;
    border: 2px solid white;
    border-radius: 15px;
  }

  .post {
    background-color: white;
    width: 475px;
    border: 3px dashed #BAE8E8;
    border-spacing: 20px;
    border-radius: 20px;
  }
  
  img {
    height: 120px;
    width: 100%;
    border-radius: 20px;
  }
  
  #pfp {
    border-radius: 50%;
    height: 225px;
    width: 100%;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .centertext {
    text-align: center;
  }
  
  .headshot {
    height: 450px;
    width: 100%;
  }

  .homebutton {
    height: 25px;
    background-color: white;
    border: 2px solid #BAE8E8;
    border-radius: 30px;
  }

  .homebutton:hover {
    background-color: #F5E3F6;
    border: 2px solid white;
    border-radius: 30px;
  }

  .projects {
    width: 97%;
  }

  #projectslist {
    list-style-type: none;
  }

  hr {
    border-top: 2px solid #BAE8E8;
  }
